/* .vitepress/theme/custom.css */
/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/plus-jakarta-sans-800.woff2") format("woff2");
}

:root {
  /* theme colors */
  --color-darkbrown: 77 57 48;
  /* ... */

  --vp-font-family-base: ui-sans-serif, -apple-system, system-ui, Segoe UI,
    Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji,
    Segoe UI Symbol;

  --vp-nav-logo-height: 36px;

  .VPNavBarTitle .title {
    color: rgb(var(--color-darkbrown));
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    font-size: 18px;
  }

  .VPNavBarTitle .title .logo {
    margin-right: 4px;
  }

  /* dark is applied to the :root element */
  &.dark .VPNavBarTitle .title {
    color: white;
  }
}

/* Caché par défaut */
.desktop-only {
  display: none;
}

/* Visible seulement sur desktop */
@media screen and (min-width: 768px) {
  .desktop-only {
    display: initial;
  }
}